body {
    background: #bb78aa;
  }

#ty {
    
}

h1 {
    text-align: center
}

p {
    text-align: center;
    font-size: 20px;
}

#missao {
    font-size: 20px;
}

em strong {
    color: rgb(255, 199, 14)
}

